*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    background-color: #fff;
}
.container{
    width: 100%;
    height: 100vh;
    
}
.container .sidebar{
    width: 200px;
    height: 100%;
    background-color: #0c0c11;
    overflow: hidden;
    position:fixed;
    padding: 32px 16px;
    outline: none;
    padding-left: 10px;
    
}
.container label{
    position:absolute;
    font-size: 24px;
    z-index: 1;
    cursor: pointer;
}

.sidebar ul{
list-style: none;
margin-top: 50px;
padding: 0 10px ;
}
.sidebar .sidebtn{
    text-decoration: none;
    cursor: pointer;
    margin: 6px;
    padding: 20px 0;
    display: flex;
    align-items: center ;
    transition: 0.5s ease;
    color:#ffff ;
    border-bottom: 1px solid;
    text-transform: uppercase;
}
.sidebar .sidebtn:hover{
    background: #d99763;
}

.sidebar li{
    border-bottom: 1px solid;
    text-transform: uppercase;
}
.sidebar ul li {
    cursor: pointer;
    margin: 6px;
    padding: 20px 0;
    display: flex;
    align-items: center ;
    transition: 0.5s ease;
    color:#ffff ;
}
.sidebar ul li:hover{
    background: #d99763;
}
input{
    display: none;
    visibility: hidden;
    

}
.toggle {
    position: fixed;
    height: 60px;
    width: 150px;
    /* z-index: 2;  */
    cursor: pointer;
    top: 400px;
    background-color: #9a4027;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.toggle .toggle1{
    color:#ffff;
}
.toggle .toggle2 {
    color: #d99763;
}

.toggle .common {
    position: absolute;
    height: 2px;
    width: 30px;
    background-color: #d99763;
    border-radius: 50px;
    transition: 0.3s ease;
}
/* 
.toggle .top_line {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toggle .middle_line {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toggle .bottom_line {
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

/* 
input:checked ~ .toggle .top_line {
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(-45deg);
}

input:checked ~ .toggle .middle_line {
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(45deg);
}

input:checked ~ .toggle .bottom_line {
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(-45deg);
} */


input:checked ~ .sidebar {
    transform: translateX(0);
}


.sidebar {
    height: 100%;
    width: 150px;
    position: fixed; 
    background-color: #ffff;
    transition: 0.5s ease;
    transform: translateX(-400px);
    z-index: 1; 
    pointer-events: auto; 
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 8%;
    background-color: #0c0c11;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    z-index: 100;
}

.header nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 60px;
    font-weight: 500;
    position: relative;
}

.header nav a.active::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #d99763;
    position: absolute;
    left: 0;

}

.header nav a:hover {
    color: #d99763;
}

.main {
    width: 100%;
    height: 100vh;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 50px 10% 0;
    background-image: url('image/Coffee.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.main-content {
    max-width: 800px;

}

.main-content h1 {
    font-size: 80px;
    line-height: 1.2;
    color: #d99763;
    

}
.main-content h3{
        color: #d99763;
        font-size: 35px;
}
.main-content p{
    font-size: 16px;
    color: #f3f3f3;
    margin:10px 0 30px;
}


.btn{
    display: inline-block;
    padding: 15px 28px;
    background: #d99763;
    border-radius: 6px;
    color: white;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
}

.btn:hover{
    background: #9a4027;
  
}

.logo {

    font-size: 30px;
    color: #d99763;
    text-decoration: none;
    font-weight: 600;
    display: flex;
    padding-left: 13%;
}


.email {
    height: 50px;
    width: 10%;
}

.login-container {
    background: #d09200;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #fab00d;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 9px;
    width: 30%;
}

input[type="submit"]:hover {
    background-color: #fab00d;
}
.hero{
    position: relative;
    width: 500px;
    height: 500px;
    transform: rotate(45deg);
    
}
.hero .frame{
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    border: 20px solid #d99763;
    
}
.hero .frame img{
    position: absolute;
    bottom:25px; 
    right: 140px;
    max-width: 400px;
    transform: rotate(-50deg);


}
footer {
    text-align: center;
    padding: 20px;
    background-color: #0c0c11;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-section {
    text-align: left;
  }
  
  .footer-section h3 {
    margin-bottom: 10px;
    color: #d99763;
    font-size: 35px;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
   
  }
  
  .footer-section ul li a{
    margin-bottom: 5px;
    text-decoration: none;
    color: #d99763;
    font-size: 20px;
    
  }
  .footer-section li{
    color: #d99763;
    font-size: 20px;
  }

  footer p {
    color: #d99763;
  }
/* About Me Page */
.main-aboutme{
    width: 100%;
    height: 100vh;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 50px 10% 0;
    background-repeat: no-repeat;
    background-size: cover;
}
/*  Contact form */

.main-contactform {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    padding: 50px 10%;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ccc;
    gap: 30px; 
}

.form-container {
    flex: 1; 
}

.contact-list-container {
    flex: 1; 
    margin-top: 40px;
}
.name-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-group {
    margin-bottom: 10px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group label {
    margin-bottom: 5px;
    display: block;
    font-weight: bold;
}



input[type="text"], select, textarea {
    width: 100%; 
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background-color: #222;
    color: #fff;
}

button.send-button {
    background-color: #d99763;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

button.send-button:hover {
    background-color: #9a4027;
}

.contact-list {
    list-style-type: none;
    padding: 0;
}

.list-item {
    margin-bottom: 15px; 
}

.list-item i {
    margin-right: 10px; 
}

.contact-text {
    font-size: 16px;
}

  
  .place {
    margin-left: 62px;
  }
  
  .phone {
    margin-left: 56px;
  }
  
  .gmail {
    margin-left: 53px;
  }
  
  .contact-text a {
    color: #bbb;
    text-decoration: none;
    transition-duration: 0.2s;
  }
  
  .contact-text a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  hr {
    border-color: rgba(255, 255, 255, 0.6);
  }
  
  .alt-send-button {
    width: 100px;
    height: 30px;
    transition: all 0.2s ease-in-out;
  }
  
  .send-text {
    display: block;
    margin-top: 10px;
    font: 700 12px 'Lato', sans-serif;
    letter-spacing: 2px;
    text-align: center;
  }
  .send-button {
    text-align: center;  
    display: flex;        
    justify-content: center; 
    align-items: center;  
    width: 100%;           
}
.blog-header{
    height: 100px; 
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
   
}
.blog-title {
    height: 10%;
    width: 50%;
}
.blog-title1 {
    position: relative;
    text-align: center;
    top: 5%;
    font-size: 80px;   
}
.blog-title1 .blog-span1{
    color: #d99763;
}
.blog-title1 .blog-span2{
    color:  black;
}
.blog-container {
  padding: 20px 6%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* Left sidebar */
.left-sidebar {
    flex-basis: 25%;
    align-self: flex-start;
    position: sticky;
    top: 73px;
}

/* Right sidebar */

.right-sidebar {
    flex-basis: 25%;
    align-self: flex-start;

    top: 73px;
}
.sidebar-news {
    background-color: #fff;
    padding: 10px 25px;

    
}
.sidebar-news span{
    display: flex;
    padding: 10px 0px;
    margin: 3px 0;

}
/* main content */
.blog-content {
    flex-basis: 47%;
}
.create-post {
    background: #fff;
}
.create-post-input{
    padding: 20px 25px 10px;
    display: flex;
    align-items: flex-start;
}
.create-post-input img {
    width: 35px;
    border-radius: 50%;
    margin-right: 10px;
}
.create-post-input textarea{
    width: 100%;
    border: 0;
    outline: 0;
    resize: none;   
    background: transparent;
    color: #0c0c11;
    margin-top: 8px;
}
::placeholder {
    font-weight: 500;
}
.create-post-links {
    display: flex;
    align-items: flex-start;
}
.create-post-links li {
    list-style: none;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    flex-basis:  25%;
    height: 40px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.create-post-links li img{
    width: 15px;
    margin-right: 5px;
}
.create-post-links li:last-child {
    background: #045be6;
    color: #fff;
    border-top: 0;
    border-right: 0;
}
.sort-by {
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.sort-by hr {
    flex: 1;
    border: 0;
    height: 1px;
    background: #ccc;
}
.sort-by  p {
 font-size: 13px;
 padding-left: 5px;

}
.sort-by p span {
    font-weight: 600;
    cursor: pointer;
}
.sort-by p span img{
    width: 12px;
    margin-left: 3px;
}
.post {
    background: #fff;
    padding: 20px 25px 5px;
    margin: 5px 0 15px;
}
.post-author {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}
.post-author img {
    width: 35px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 5px;
}
.post-author h1 {
    font-size: 18px;
    font-weight: 600;
    color: #333;
}
.post-author small {
    display: block;
    margin-bottom: -2px;
}
.post p {
    font-size: 14px;
    margin-bottom: 15px;
}
.post-stats{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 6px;
}
.post-stats div {
    display: flex;
    align-items: center;
}
.post-stats img {
     width: 18px;
     margin-right: -5px;
}
.post-stats .wow{
    width: 25px;
    margin-right: -5px;
}
.liked-users {
    margin-left: 10px;
}
.post-activity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    font-size: 14px;
    font-weight: 500;
}
.post-activity div {
    display: flex;
    align-items: center;
}
.post-activity-user-icon {
    width: 22px;
    border-radius: 50%;
}
.post-activity-arrow-icon {
    width: 12px;
    margin-left: 5px;
}
.post-activity-link img {
    width: 18px;
    margin-right: 8px;
}
.related-container {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.related-container h2{
    font-size: 18px;
    margin-bottom: 16px;
}
.related-container button {
    display: inline-block;
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 16px;
 
}
.related-container .related-main {
  background-color: black  ;
  color: white;
}